body {
  font-family: "Montserrat", sans-serif;
  background-color: #e5e5e5;
}
.scelet {
  /* position: absolute; */
  width: 1200px;
  height: 1319px;
  margin-left: auto;
  margin-right: auto;
}
/* main styles */
.main {
  display: flex;
  flex-direction: row-reverse;
}

.main_content {
  /* margin: 0 auto; */
  background-color: #ffffff;
  /* width: 1200px; */
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  padding: 180px;
  /* padding-left: 40px; */
  padding-bottom: 150px;
  padding-left: 60px;
}

/* about styles */

.about {
  /* margin-bottom: 40px; */
  /* background-color: tomato; */
}
.about_position {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 20px;
}

.about_name {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 55px;
  color: #000000;
  margin-bottom: 10px;
  margin-top: 0;
}

.about_discribtion {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  color: #595959;
  /* width: 600px; */
}

/* project styles */

.projects {
  margin-bottom: 50px;
  /* background-color: yellowgreen;
    margin-top: 100px;
    margin-bottom: 300px;
    margin-left: 60px;
    margin-right: 90px; */

  /* margin: 100px 90px 300px 60px;

    margin: 50px;

    margin: 100px 50px;  */
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 20px;
  margin-top: 50px;
  /* font-size: 45px;
    color: teal; */
}

.projects_list {
  padding: 0;
  margin: left 15px;
  /* list-style: none; */
}

.projects_item {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.71;
  color: #000000;
  margin-left: 15px;
}

.project,
.project_link {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.71;
  color: #595959;
}

.project {
  display: flex;
  justify-content: space-between;
}

.project-name {
  margin: 0;
}

.projects_link {
  margin-left: 10px;
}

.project_bracket {
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 1.71;
  color: #000000;
}

/* work styles */
.work {
  /* background-color: peru;
    padding-top: 100px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 40px; */

  /* padding: 100px 40px 50px 20px;

    padding: 50px;

    padding: 50px 100px; */
}
.work_position {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 10px;
}
.organization {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  color: #fb6d3a;
}
.period {
  font-style: normal;
  font-weight: normal;
  /* font-size: 18px;
  line-height: 15px; */
  color: #453535;
  margin-bottom: 10px;
}
.line {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 15px;
  color: #000;
}
.work_list {
  padding: 0;
  margin-left: 15px;
}
.work_list_item {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #595959;
}

/* education styles  */
.education {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #fb6d3a;

  /* background-color: seagreen;
    padding-top: 100px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 40px; */
}

.education_facultry {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

/* slidebar styles */

.slidebar {
  background-color: #282a42;
  /* background-color: #1e2939; */
  /* padding-top: 40px; */
  /* width: 380px; */
      width: 400px;
  padding-top: 155px;
    padding-left: 30px;
    padding-right: 30px;
}

.photo {
  width: 380px;
  margin-bottom: 20px;
  /* margin-top: 50px; */
}

.sidebar_title {
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 27px;
  margin-bottom: 24px;
  /* margin-top: 60px; */
}

/* .contacts-contact {
  margin-top: 20px;
} */

.contact_type {
  color: #fb6e3a;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  margin-right: 10px;
}

.contact_link {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}

.tech_skills_list,
.soft_skills_list {
  color: #ffffff;
  padding-left: 10px;
  margin: 0px;
  /* margin-left: 10px; */
  /* width: 80%; */
}

.tech_skills_icon,
.soft_skills_icon {
  color: #fb6d3a;
}

.tech_skills_text,
.soft_skills_text {
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 33px;
}

.pa {
  padding-left: 10px;
}
.lin{
 color: #a8a8a8;
}

.skills, 
.skills_title {
  color:#000000;
  margin-left: 0;
  margin-right: -130px;
}

.wrapper-skills{
  display: inline-block;
  width: 48%;
  vertical-align: top;
}
.skills_title {
  margin-top: 50px;
  margin-bottom: 20px;
}

.edu-class {
  padding-left: 10px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  flex-direction: column;
}

.sliderbar-wrapper{
  display: flex;
  flex-wrap: wrap;
  height: 1000px;
  align-content: space-between;
  margin-left: 30px;
}

.contact_wats{
  margin-bottom: 10px;
}